<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title th:text="${title}">title</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/home" class="nav-link" >Главная</a></li>
            <li class="nav-item"><a href="/turbocharger/list" class="nav-link">Список турбин</a></li>
            <li class="nav-item"><a href="/turbocharger/search" class="nav-link">Поиск</a></li>
            <li class="nav-item"><a href="/turbocharger/new" class="nav-link">Добавить новую</a></li>
            <li class="nav-item"><a href="/parserSetting/edit" class="nav-link">Загрузить из файла</a></li>
            <li class="nav-item"><a href="/bot/botSetting" class="nav-link">Настройки бота</a></li>
            <li class="nav-item"><a href="/telegramUser/list" class="nav-link active" aria-current="page">Статистика</a></li>
            <li class="nav-item" th:hidden="${!isAdmin}">
                <a href="/userApplication/list" class="nav-link">Пользователи</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript: document.logoutForm.submit()">Выйти</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Выход"/>
                </form></li>
        </ul>
    </header>
</div><hr>
<h2>Статистика запросов</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm" id="tableParam">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">TelegramUser Id</th>
            <th scope="col">Is Bot</th>
            <th scope="col">Date Message</th>
            <th scope="col">Text Message</th>
            <th scope="col">Comment</th>
            <th scope="col">Удалить</th>


        </tr>
        </thead><hr>
        <tbody>
        <tr th:each="telegramUser:${telegramUserList}">
            <td th:text="${telegramUser.id}">id</td>
            <td th:text="${telegramUser.firstName}">id</td>
            <td th:text="${telegramUser.lastName}">id</td>
            <td ><a th:text="${telegramUser.telegramUserId}" th:href="'/telegramUser/filtr/'+${telegramUser.id}">Удалить</a></td>
            <td th:text="${telegramUser.isBot}">id</td>
            <td th:text="${telegramUser.dateMessage}">id</td>
            <td th:text="${telegramUser.textMessage}">id</td>
            <td th:text="${telegramUser.comment}">id</td>
            <td><a th:href="'/telegramUser/'+${telegramUser.id}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>